# Mercedes Benz Greener Manufacturing
The goal of this analysis is to lower the time needed on the test bench for cars manufactured

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the datasets
df = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")

## Data exploration

In [3]:
# Check the first few values
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Check the data types and shape of the dataframe
# y is the float64 column, x0 till x8 are objects since they contain strings
# the rest are int64
df.info(), df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

(None, (4209, 378))

In [5]:
# Check for nan values
# There are no null values
df.isnull().sum().sort_values(ascending=False)

ID      0
X254    0
X263    0
X262    0
X261    0
       ..
X127    0
X126    0
X125    0
X124    0
X385    0
Length: 378, dtype: int64

In [6]:
# Check the test set data
# As expected no target values are included
# Contains the same number of columns and rows as test
df_test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

## Preprocessing the data

In [7]:
# Check for null values
for x, i in enumerate(df.isna().any()):
    if i:
        print(x, i)

In [8]:
# Exlude the y (target)
y_trained = df["y"]
df_x = df.drop("y", axis=1)
df_x

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,6,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,7,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,9,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,13,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,ak,s,as,c,d,aa,d,q,0,...,1,0,0,0,0,0,0,0,0,0
4205,8406,j,o,t,d,d,aa,h,h,0,...,0,1,0,0,0,0,0,0,0,0
4206,8412,ak,v,r,a,d,aa,g,e,0,...,0,0,1,0,0,0,0,0,0,0
4207,8415,al,r,e,f,d,aa,l,u,0,...,0,0,0,0,0,0,0,0,0,0
4208,8417,z,r,ae,c,d,aa,g,w,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
# Check the variance of each column
# Columns with letters are not considered
df_x.var(numeric_only=True)

ID      5.941936e+06
X10     1.313092e-02
X11     0.000000e+00
X12     6.945713e-02
X13     5.462335e-02
            ...
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 369, dtype: float64

### Dropping with columns with variance 0
- Find the variance of the relevent columns using iloc
- Get their index while looping through them using enumerate
- Use the columns function to get their names using the index (and fix the indexing if needed)
- Drop the columns in the generated array using the drop function

In [10]:
# Perform the above steps on both the test and train
columns_drop = df_x.columns[[x+9 for x, i in enumerate(df.iloc[:, 9:].var(numeric_only=True)) if i==0]]
df_x_var = df_x.drop(columns_drop, axis=1)
df_test_var = df_test.drop(columns_drop, axis=1)

df_x_var

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,6,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,7,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,9,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,13,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,ak,s,as,c,d,aa,d,q,0,...,1,0,0,0,0,0,0,0,0,0
4205,8406,j,o,t,d,d,aa,h,h,0,...,0,1,0,0,0,0,0,0,0,0
4206,8412,ak,v,r,a,d,aa,g,e,0,...,0,0,1,0,0,0,0,0,0,0
4207,8415,al,r,e,f,d,aa,l,u,0,...,0,0,0,0,0,0,0,0,0,0
4208,8417,z,r,ae,c,d,aa,g,w,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
# Drop the id column since it will skew the data
df_x_var = df_x_var.drop("ID", axis=1)
df_test_var = df_test_var.drop("ID", axis=1)

### Apply Label Encoding

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
# Initialize the encoder 
# All object columns have 0 and 1 as unique values
# Hence encode the ones that have a higher number of values
df_final = df_x_var.copy()
df_test_final = df_test_var.copy()
enc = LabelEncoder()

for col in df_final.columns:
    if len(np.unique(df_final[col])) > 2:
        df_final[col] = enc.fit_transform(df_final[col])

# Apply same steps to test data
for col in df_test_final.columns:
    if len(np.unique(df_test_final[col])) > 2:
        df_test_final[col] = enc.fit_transform(df_test_final[col])

In [14]:
df_final

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32,21,19,4,3,28,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20,24,34,2,3,27,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20,21,34,5,3,27,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20,23,34,5,3,12,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8,20,16,2,3,0,3,16,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,31,16,40,3,3,0,7,7,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8,23,38,0,3,0,6,4,0,1,...,0,0,1,0,0,0,0,0,0,0
4207,9,19,25,5,3,0,11,20,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,46,19,3,2,3,0,6,22,0,0,...,1,0,0,0,0,0,0,0,0,0

## Applying PCA

In [26]:
from sklearn.decomposition import PCA

n_comp = 20
pca = PCA(n_components = n_comp, random_state = 42)
pca_result_train = pca.fit_transform(df_final)
pca_result_test = pca.transform(df_test_final)

In [27]:
pca_result_train.shape, pca_result_test.shape

((4209, 20), (4209, 20))

## Apply xgboost

In [33]:
# ML Modeling with XGboost
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Defining train & test for model input
train_X = pca_result_train
train_y = y_trained

# Splitting
x_train, x_valid, y_train, y_valid = train_test_split(train_X, train_y, test_size=0.2, random_state=42)

# Defining feature set
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
d_test = xgb.DMatrix(pca_result_test)
xgb_params = {
 'eta': 0.01,
 'max_depth': 4,
 'objective': 'reg:squarederror',
}

# Creating a function for the predicting score
def xgb_r2_score(preds, dtrain):
 labels = dtrain.get_label()
 return 'r2', r2_score(labels, preds)
watchlist = [(d_train, 'train'), (d_valid, 'valid')]
mdl = xgb.train(xgb_params, d_train, 1000, watchlist, early_stopping_rounds=50, feval=xgb_r2_score, maximize=True, verbose_eval=10)

[0]	train-rmse:99.99312	train-r2:-60.72097	valid-rmse:99.87946	valid-r2:-63.09193
[10]	train-rmse:90.55032	train-r2:-49.61422	valid-rmse:90.43404	valid-r2:-51.54300
[20]	train-rmse:82.01793	train-r2:-40.52504	valid-rmse:81.90256	valid-r2:-42.09691
[30]	train-rmse:74.30950	train-r2:-33.08641	valid-rmse:74.19589	valid-r2:-34.36802
[40]	train-rmse:67.34649	train-r2:-26.99771	valid-rmse:67.23296	valid-r2:-28.04127
[50]	train-rmse:61.05413	train-r2:-22.01032	valid-rmse:60.95432	valid-r2:-22.87042
[60]	train-rmse:55.37347	train-r2:-17.92762	valid-rmse:55.28781	valid-r2:-18.63857
[70]	train-rmse:50.24891	train-r2:-14.58640	valid-rmse:50.17174	valid-r2:-15.17221
[80]	train-rmse:45.62118	train-r2:-11.84770	valid-rmse:45.56302	valid-r2:-12.33755
[90]	train-rmse:41.45218	train-r2:-9.60687	valid-rmse:41.41132	valid-r2:-10.01765
[100]	train-rmse:37.69297	train-r2:-7.77028	valid-rmse:37.66723	valid-r2:-8.11545
[110]	train-rmse:34.30694	train-r2:-6.26535	valid-rmse:34.29880	valid-r2:-6.55804
[120]	train-rmse:31.26153	train-r2:-5.03272	valid-rmse:31.26606	valid-r2:-5.28055
[130]	train-rmse:28.52445	train-r2:-4.02258	valid-rmse:28.53969	valid-r2:-4.23299
[140]	train-rmse:26.06892	train-r2:-3.19507	valid-rmse:26.09355	valid-r2:-3.37439
[150]	train-rmse:23.86932	train-r2:-2.51700	valid-rmse:23.90303	valid-r2:-2.67077
[160]	train-rmse:21.90054	train-r2:-1.96075	valid-rmse:21.94621	valid-r2:-2.09436
[170]	train-rmse:20.14283	train-r2:-1.50457	valid-rmse:20.20526	valid-r2:-1.62289
[180]	train-rmse:18.57875	train-r2:-1.13072	valid-rmse:18.65928	valid-r2:-1.23687
[190]	train-rmse:17.18734	train-r2:-0.82352	valid-rmse:17.28657	valid-r2:-0.91986
[200]	train-rmse:15.95108	train-r2:-0.57063	valid-rmse:16.07299	valid-r2:-0.65976
[210]	train-rmse:14.86018	train-r2:-0.36314	valid-rmse:15.00515	valid-r2:-0.44654
[220]	train-rmse:13.90092	train-r2:-0.19283	valid-rmse:14.07074	valid-r2:-0.27199
[230]	train-rmse:13.05953	train-r2:-0.05280	valid-rmse:13.25367	valid-r2:-0.12856
[240]	train-rmse:12.32309	train-r2:0.06259	valid-rmse:12.54292	valid-r2:-0.01076
[250]	train-rmse:11.68025	train-r2:0.15784	valid-rmse:11.92646	valid-r2:0.08615
[260]	train-rmse:11.11879	train-r2:0.23685	valid-rmse:11.39499	valid-r2:0.16578
[270]	train-rmse:10.63502	train-r2:0.30182	valid-rmse:10.93792	valid-r2:0.23136
[280]	train-rmse:10.21778	train-r2:0.35552	valid-rmse:10.54831	valid-r2:0.28515
[290]	train-rmse:9.85920	train-r2:0.39997	valid-rmse:10.21473	valid-r2:0.32964
[300]	train-rmse:9.54836	train-r2:0.43721	valid-rmse:9.93257	valid-r2:0.36617
[310]	train-rmse:9.28465	train-r2:0.46786	valid-rmse:9.69495	valid-r2:0.39613
[320]	train-rmse:9.05657	train-r2:0.49369	valid-rmse:9.49370	valid-r2:0.42094
[330]	train-rmse:8.86176	train-r2:0.51523	valid-rmse:9.32739	valid-r2:0.44105
[340]	train-rmse:8.69323	train-r2:0.53350	valid-rmse:9.18704	valid-r2:0.45775
[350]	train-rmse:8.54677	train-r2:0.54908	valid-rmse:9.07197	valid-r2:0.47125
[360]	train-rmse:8.42341	train-r2:0.56200	valid-rmse:8.97835	valid-r2:0.48210
[370]	train-rmse:8.31749	train-r2:0.57295	valid-rmse:8.89692	valid-r2:0.49145
[380]	train-rmse:8.22766	train-r2:0.58213	valid-rmse:8.83060	valid-r2:0.49901
[390]	train-rmse:8.14910	train-r2:0.59007	valid-rmse:8.77798	valid-r2:0.50496
[400]	train-rmse:8.08099	train-r2:0.59689	valid-rmse:8.73334	valid-r2:0.50998
[410]	train-rmse:8.02122	train-r2:0.60283	valid-rmse:8.69806	valid-r2:0.51393
[420]	train-rmse:7.97034	train-r2:0.60786	valid-rmse:8.66851	valid-r2:0.51723
[430]	train-rmse:7.92603	train-r2:0.61220	valid-rmse:8.64422	valid-r2:0.51993
[440]	train-rmse:7.88797	train-r2:0.61592	valid-rmse:8.62709	valid-r2:0.52183
[450]	train-rmse:7.85361	train-r2:0.61926	valid-rmse:8.61166	valid-r2:0.52354
[460]	train-rmse:7.82133	train-r2:0.62238	valid-rmse:8.60058	valid-r2:0.52477
[470]	train-rmse:7.79313	train-r2:0.62510	valid-rmse:8.59046	valid-r2:0.52589
[480]	train-rmse:7.76351	train-r2:0.62794	valid-rmse:8.58306	valid-r2:0.52670
[490]	train-rmse:7.73897	train-r2:0.63029	valid-rmse:8.57647	valid-r2:0.52743
[500]	train-rmse:7.71352	train-r2:0.63272	valid-rmse:8.57151	valid-r2:0.52797
[510]	train-rmse:7.69219	train-r2:0.63475	valid-rmse:8.56875	valid-r2:0.52828
[520]	train-rmse:7.67071	train-r2:0.63679	valid-rmse:8.56570	valid-r2:0.52861
[530]	train-rmse:7.65159	train-r2:0.63859	valid-rmse:8.56319	valid-r2:0.52889
[540]	train-rmse:7.63544	train-r2:0.64012	valid-rmse:8.56031	valid-r2:0.52921
[550]	train-rmse:7.61958	train-r2:0.64161	valid-rmse:8.56064	valid-r2:0.52917
[560]	train-rmse:7.60180	train-r2:0.64328	valid-rmse:8.55884	valid-r2:0.52937
[570]	train-rmse:7.58314	train-r2:0.64503	valid-rmse:8.56041	valid-r2:0.52920
[580]	train-rmse:7.56528	train-r2:0.64670	valid-rmse:8.56152	valid-r2:0.52907
[590]	train-rmse:7.54764	train-r2:0.64835	valid-rmse:8.56011	valid-r2:0.52923
[600]	train-rmse:7.52565	train-r2:0.65039	valid-rmse:8.55991	valid-r2:0.52925
[607]	train-rmse:7.51563	train-r2:0.65132	valid-rmse:8.56077	valid-r2:0.52916

In [34]:
# Predicting on test set
p_test = mdl.predict(d_test)
p_test

array([ 77.79394 ,  95.5716  ,  81.06427 , ...,  93.406136, 109.33432 ,
        98.40287 ], dtype=float32)

In [35]:
# Predicted values in a dataframe
Predicted_Data = pd.DataFrame()
Predicted_Data['y'] = p_test
Predicted_Data.head()

            y
0   77.793938
1   95.571602
2   81.064270
3   76.868462
4  109.254913